<div class="wrapper">
  <div class="container">
    <!-- Відео  -->
    <div class="video-wrapper">
      <vg-player (onPlayerReady)="onPlayerReady($event)">
        <video class="video" [vgMedia]="$any(media)" #media id="single-video" preload="auto" autoplay loop
          src="assets/video/Gen-3 Alpha 1776069147, Static camera The c, magnifics_upscale-Oy, M 5.mp4">
        </video>
        <div class="custom-controls">
          <div class="btn-group">
            <button (click)="togglePlayPause()">
              <i class="icon" [ngClass]="videoOnPause ? 'play-icon' : 'pause-icon'"></i>
            </button>
            <button (click)="fullscreen()">
              <i class="icon fullscreen-icon"></i>
            </button>
          </div>
        </div>
        
      </vg-player>
    </div>
    <!-- Картки -->
    <div class="cards">
      <div class="card card-1">
        <div class="card-subtitle">AND</div>
        <h2 class="card-title">
          You See What Others Can’t.<span class="highlight"> You Foresee the Future of Change</span>.
        </h2>
        <p class="card-description">
          The thrill of creating, the obsession of bringing an idea to life, the relentless pursuit of something
          monumental—it’s what keeps you moving.
        </p>
      </div>

      <div class="card card-2">
        <div class="card-subtitle">AND</div>
        <p class="card-title">
          You Don’t Follow Trends. <br><span class="highlight">You Set Them</span>.
        </p>
        <p class="card-description">
          You don’t just participate in the market; you shape it, redefine it, own it.
          Every milestone fuels your next move, every success raises the bar.
        </p>
      </div>

      <div class="card card-3">
        <div class="card-subtitle">AND</div>
        <h2 class="card-title">
          You Don’t Just Add Value. <br><span class="highlight">You Build Legacies</span>.
        </h2>
        <p class="card-description">
          You build something that resonates, that becomes a part of people’s lives, that stands for something bigger.
        </p>
      </div>
    </div>

    <!-- Текст -->
    <div class="text-section">
      <h3 class="animated-text"> <span class="text-section-span"><span class="word">Then, </span><span
            class="word">reading </span> <span class="word">the </span> <span class="word">following </span> </span>
        <span class="word">is absolutely </span> <br>
        <span class="word">essential </span> <span class="word">for you.</span>
      </h3>
    </div>
  </div>